<div class="container my-5">
<h1>Editar plato</h1>

<%= render 'form', plate: @plate %>

<%= link_to 'Show', @plate, class: "btn btn-success" %> 
<%= link_to 'Back', plates_path, class: "btn btn-dark" %>

</div>