<!-- inicio formulario-->
<div class="container my-5">
  <h2 class="pb-4">Crear nuevo plato</h2>

<%= render 'form', plate: @plate %>

<%= link_to 'Back', plates_path, :class => "btn btn-dark" %>

</div>