<!--Formulario-->
<article>
   <div class="container">
      <div class="row pt-5">
         <div class="col-md-10 col-lg-6 pt-4">
            <h2 class="pb-2 border-bottom">Contacto para reservas</h2>
            <h6 class="pt-3">En Peruñol, de Móstoles, encontrarás gran variedad de platos peruanos elaborados con 
            los mejores ingredientes y de la mejor calidad. Puedes hacer tu pedido ahora en Just Eat y Globo App. ¡No te arrepentirás!</h6>
            <h4 class="fs-4 py-4">Locación Móstoles</h4>
            <p><strong>Dirección:</strong> Calle Camino de Humanes, 7, Móstoles, 28938</p>
            <p><strong>Teléfono:</strong>  910 86 08 55</p>
            <p><strong>Correo:</strong>  info@perunol.es</p>
            <h4 class="fs-4 py-3">Horarios</h4>
            <p><strong>Lunes:</strong> Cerrado</p>
            <p><strong>Martes a Viernes:</strong> 10:00 – 16:30 19:30 – 22:30</p>
            <p><strong>Sábado:</strong>  10:00 – 22:00</p>
            <p><strong>Domingo:</strong> 10:00 – 17:00</p>
           
         </div>
         <div class="col">
            <div class="col-md-12 mx-auto col-lg-10 pt-4">
               <form id="form_registro" class="p-4 p-md-5 border rounded-3 bg-light">
                  <h3 class="text-center py-3">Consultas</h3>
                  <div class="form-floating mb-3">
                     <input type="text" class="form-control" id="txtnombre" placeholder="Nombre">
                     <label for="txtnombre">Nombre y apellido</label>
                  </div>
                  
                  <div class="form-floating mb-3">
                     <input type="email" class="form-control" id="txtmail" placeholder="E-mail">
                     <label for="txtmail">Correo eléctronico</label>
                  </div>
                  <div class="form-floating mb-3">
                     <label for="exampleFormControlTextarea1" class="form-label">Mi consulta es ..</label>
                     <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                  </div>
                  <button id="btn_registro" type="button" class="w-100 btn btn-lg btn-dark" onclick="validar(this)">Enviar</button>
                  <hr class="my-4">
               </form>
            </div>
         </div>
      </div>
   </div>
</article>

<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>