<h1>Pages#contacto</h1>
<p>Find me in app/views/pages/contacto.html.erb</p>
<div class="container">
    <div id="list-example" class="list-group">
    <a class="list-group-item list-group-item-action" href="#list-item-1">Combos Brasa</a>
    <a class="list-group-item list-group-item-action" href="#list-item-2">Entrantes</a>
    <a class="list-group-item list-group-item-action" href="#list-item-3">Sopas</a>
    <a class="list-group-item list-group-item-action" href="#list-item-4">Pollo a la Brasa</a>
    </div>
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <h4 id="list-item-1">Combos Brasa</h4>
    <p>Vivamus ornare a libero at interdum. Curabitur semper sapien nibh, ac congue dolor tempor eu. In ac tempus sem. 
    Nulla tincidunt diam eget urna placerat, vel tincidunt magna pretium. Vivamus tempor massa at volutpat congue. 
    Nullam eu diam feugiat, viverra quam a, ullamcorper felis. Ut quis posuere dui. Proin in efficitur massa. Quisque
    vitae nunc a erat blandit congue et gravida diam. Sed consequat tempor nibh sed faucibus. Donec fringilla non lorem 
    quis elementum. Pellentesque commodo euismod nisi, eu pellentesque eros porta a. Phasellus dictum purus et lectus 
    finibus accumsan. Proin dignissim eleifend arcu non imperdiet. Nulla ut ex aliquam lorem facilisis consequat nec 
    quis eros.</p>
    <h4 id="list-item-2">Entrantes</h4>
    <p>Vivamus ornare a libero at interdum. Curabitur semper sapien nibh, ac congue dolor tempor eu. In ac tempus sem. 
    Nulla tincidunt diam eget urna placerat, vel tincidunt magna pretium. Vivamus tempor massa at volutpat congue. 
    Nullam eu diam feugiat, viverra quam a, ullamcorper felis. Ut quis posuere dui. Proin in efficitur massa. Quisque
    vitae nunc a erat blandit congue et gravida diam. Sed consequat tempor nibh sed faucibus. Donec fringilla non lorem 
    quis elementum. Pellentesque commodo euismod nisi, eu pellentesque eros porta a. Phasellus dictum purus et lectus 
    finibus accumsan. Proin dignissim eleifend arcu non imperdiet. Nulla ut ex aliquam lorem facilisis consequat nec 
    quis eros.</p>
    <h4 id="list-item-3">Sopas</h4>
    <p>Vivamus ornare a libero at interdum. Curabitur semper sapien nibh, ac congue dolor tempor eu. In ac tempus sem. 
    Nulla tincidunt diam eget urna placerat, vel tincidunt magna pretium. Vivamus tempor massa at volutpat congue. 
    Nullam eu diam feugiat, viverra quam a, ullamcorper felis. Ut quis posuere dui. Proin in efficitur massa. Quisque
    vitae nunc a erat blandit congue et gravida diam. Sed consequat tempor nibh sed faucibus. Donec fringilla non lorem 
    quis elementum. Pellentesque commodo euismod nisi, eu pellentesque eros porta a. Phasellus dictum purus et lectus 
    finibus accumsan. Proin dignissim eleifend arcu non imperdiet. Nulla ut ex aliquam lorem facilisis consequat nec 
    quis eros.</p>
    <h4 id="list-item-4">Pollo a la Brasa</h4>
    <p>Vivamus ornare a libero at interdum. Curabitur semper sapien nibh, ac congue dolor tempor eu. In ac tempus sem. 
    Nulla tincidunt diam eget urna placerat, vel tincidunt magna pretium. Vivamus tempor massa at volutpat congue. 
    Nullam eu diam feugiat, viverra quam a, ullamcorper felis. Ut quis posuere dui. Proin in efficitur massa. Quisque
    vitae nunc a erat blandit congue et gravida diam. Sed consequat tempor nibh sed faucibus. Donec fringilla non lorem 
    quis elementum. Pellentesque commodo euismod nisi, eu pellentesque eros porta a. Phasellus dictum purus et lectus 
    finibus accumsan. Proin dignissim eleifend arcu non imperdiet. Nulla ut ex aliquam lorem facilisis consequat nec 
    quis eros.</p>
    </div>




    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
  <a class="navbar-brand" href="#">Navbar</a>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="#item-1">Item 1</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
      <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
    </nav>
    <a class="nav-link" href="#item-2">Item 2</a>
    <a class="nav-link" href="#item-3">Item 3</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
      <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
    </nav>
  </nav>
</nav>

<div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
  <h4 id="item-1">Item 1</h4>
  <p>...</p>
  <h5 id="item-1-1">Item 1-1</h5>
  <p>...</p>
  <h5 id="item-1-2">Item 1-2</h5>
  <p>...</p>
  <h4 id="item-2">Item 2</h4>
  <p>...</p>
  <h4 id="item-3">Item 3</h4>
  <p>...</p>
  <h5 id="item-3-1">Item 3-1</h5>
  <p>...</p>
  <h5 id="item-3-2">Item 3-2</h5>
  <p>...</p>
</div>


</div>